<div ng-controller="ReportesCtrl" data-ng-init="init()">

  <div class="well well-sm">
    <!--<h1>'Allo, 'Allo!</h1>-->
    <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
    <!--</p>-->
    <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->

    <div class="col-centered">
      <div class="row">
        <div class="col-md-12">
          <p><a href="javascript:window.print();" style="text-decoration: none;"><h4>REPORTE DE ESTATUS DE MENSAJERIA</h4></a>
          <p><h5>Fecha: {{date | date:'dd/MM/yyyy h:mm a'}}</h5></p>
        </div>
      </div>
      <br>
      <p class="lead">
        <md-datepicker ng-model="dateFrom" md-placeholder="Fecha desde ..." required></md-datepicker> <!-- md-min-date="minDate" md-max-date="maxDate" -->
        &nbsp;&nbsp;&nbsp;&nbsp;
        <md-datepicker ng-model="dateTo" md-placeholder="Fecha hasta ..."></md-datepicker> <!-- md-min-date="minDate" md-max-date="maxDate" -->

        <br><br>
        <md-input-container class="md-block" >
          <label style="background-color: white">SELECCIONE CAMPA&Ntilde;A ...</label>
          <md-select ng-model="client" style="background-color: white;">
            <md-option ng-value="client.nombre" ng-repeat="client in clients">{{client.nombre}}</md-option>
          </md-select>
        </md-input-container>


        <button class="btn btn-primary" id="noprint" ng-click="mensajeria(dateFrom, dateTo, client)">GENERAR</button>
      </p>
    </div>
  </div>

  <div class="row">
    <div style="float: left;">
      <button ng-show="resultmensajeria.length" class="btn btn-md btn-success" id="noprint" ng-click="toExcel()">Exportar a Excel</button>
    </div>

    <div id="noprint">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Buscar" ng-model="searchpackage">
          </div>
        </div>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover" id="incidents">
            <thead>
            <tr>
              <th>FOLIO</th>
              <th>FECHA RECIBO</th>
              <th>ESTATUS</th>

            </tr>
            </thead>
            <tbody id="myTable">
            <tr ng-repeat="r in resultmensajeria | filter:searchpackage">
              <td>{{r.folio}}</td>
              <td>{{r.fecharecibocicsa}}</td>
              <td>{{r.estatus }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="3">
                <h4 ng-show="resultmensajeria.length">Número de consultas en el periodo seleccionado: <b>{{resultmensajeria.length}}</b></h4>
                <h4 ng-show="!resultmensajeria.length">No hubo consultas en el periodo seleccionado</h4>
              </td>
              <!--<td colspan="4">-->
                <!--<hr></td>-->
            </tr>
            </tfoot>
          </table>
        </div>

        <div id="exportable" style="display:none">
          <table>
            <thead>
            <tr>
              <th>FOLIO</th>
              <th>FECHA RECIBO</th>
              <th>ESTATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in resultmensajeria | filter:searchpackage">
              <td>{{r.folio}}</td>
              <td>{{r.fecharecibocicsa}}</td>
              <td>{{r.estatus }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12 text-center">
          <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
      </div>
    </div>

